<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>REREC Fleet | Invoices</title>
    <script th:src="@{/js/headContent.js}"></script>
</head>
<body>
    <vertical-navbar></vertical-navbar>

    <main>
        <div class="table">
            <div class="table_header">
                <p>Invoice Table</p>
                <div>
                    <input placeholder="Search Invoice">
                    <a th:href = "@{/newInvoice}" class="add_new">Add Invoice</a>
                </div>
            </div>

            <div class="table_section">
                <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Vehicle</th>
                        <th>Invoice No.</th>
                        <th>Contractor</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Total</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="invoice : ${listOfInvoices}">
                        <td th:text="${invoice.no}"></td>
                        <td th:text="${invoice.vehicle.numberPlate}"></td>
                        <td th:text="${invoice.invoiceNo}"></td>
                        <td th:text="${invoice.contractor.name}"></td>
                        <td th:text="${#dates.format(invoice.date, 'dd-MM-yyyy')}"></td>
                        <td>
                            <ul>
                                <li th:each="item : ${invoice.invoiceItems}">
                                    <span th:text="${item.checklist.item}"></span>
                                </li>
                            </ul>
                        </td>
                        <td th:text="${invoice.total}"></td>
                        <td>
                            <a th:href="@{/alterInvoiceItems/{no}(no=${invoice.no})}" class="add">
                                <span class="material-symbols-outlined">add</span>
                            </a>
                            <a th:href="@{/updateInvoice/{no}(no=${invoice.no})}" class="edit">
                                <span class="material-symbols-outlined">edit</span>
                            </a>
                            <a th:href="@{/deleteInvoice/{no}(no=${invoice.no})}" class="delete">
                                <span class="material-symbols-outlined">delete</span>
                            </a>

                        </td>
                    </tr>
                    </tbody>
                </table>

                <div th:if = "${totalPages > 1}">
                    <div class="pagination-container">
                        <div class="next-last">
                            <a th:if="${currentPage < totalPages}" th:href="@{'/vehiclePage/' + ${totalPages}}">Previous</a>
                            <span th:unless="${currentPage < totalPages}">Previous</span>
                        </div>

                        <div>
                                <span th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item">
                                    <a th:if="${currentPage != i}" th:href="@{'/vehiclePage/' + ${i}}">[[${i}]]</a>
                                    <span th:unless="${currentPage != i}">[[${i}]]</span>
                                </span>
                        </div>

                        <div class="next-last">
                            <a th:if="${currentPage < totalPages}" th:href="@{'/vehiclePage/' + ${currentPage + 1}}">Next</a>
                            <span th:unless="${currentPage < totalPages}">Next</span>
                        </div>
                    </div>
                    <div class="total-items">
                        Total Rows: [[${totalItems}]]
                    </div>
                </div>
            </div>

        </div>
    </main>

    <script>
        addHeadContent();
        mainCss();
    </script>
    <script th:src="@{/js/template.js}"></script>
</body>
</html>