<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>REREC Fleet | Mileage</title>
    <script th:src="@{/js/headContent.js}"></script>
</head>
<body>
<vertical-navbar></vertical-navbar>

<main>
    <div class="table">
        <div class="table_header">
            <p>Mileage Table</p>
            <div>
                <form>
                    <div>
                        <input type="hidden" name="sortField"/>
                        <input type="hidden" name="sortDir"/>
                        <input type="text" name="keyword" placeholder="Search Vehicle">
                        <button type="submit">Search</button>
                    </div>
                    <a th:href = "@{/newMileage}" class="add_new">Add Mileage</a>
                </form>

            </div>
        </div>

        <div class="table_section">
            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Number Plate</th>
                    <th>Start Date</th>
                    <th>Final Date</th>
                    <th>Distance Covered</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="mileage : ${listOfMileages}">
                    <td th:text="${mileage.vehicle.numberPlate}"></td>
                    <td th:text="${#dates.format(mileage.startDate, 'dd-MM-yyyy')}"></td>
                    <td th:text="${#dates.format(mileage.finalDate, 'dd-MM-yyyy')}"></td>
                    <td th:text="${mileage.distanceCovered}"></td>
                    <td>
                        <a th:href="@{/updateMileage/{no}(no=${mileage.no})}" class="edit">
                            <span class="material-symbols-outlined">edit</span>
                        </a>
                        <a th:href="@{/deleteMileage/{no}(no=${mileage.no})}" class="delete">
                            <span class="material-symbols-outlined">delete</span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div th:if = "${totalPages > 1}">
                <div class="pagination-container">
                    <div class="next-last">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/vehiclePage/' + ${totalPages}}">Previous</a>
                        <span th:unless="${currentPage < totalPages}">Previous</span>
                    </div>

                    <div>
                            <span th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item">
                                <a th:if="${currentPage != i}" th:href="@{'/vehiclePage/' + ${i}}">[[${i}]]</a>
                                <span th:unless="${currentPage != i}">[[${i}]]</span>
                            </span>
                    </div>

                    <div class="next-last">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/vehiclePage/' + ${currentPage + 1}}">Next</a>
                        <span th:unless="${currentPage < totalPages}">Next</span>
                    </div>
                </div>
                <div class="total-items">
                    Total Vehicles: [[${totalItems}]]
                </div>
            </div>
        </div>

    </div>

</main>

<script>
    addHeadContent();
    mainCss();
</script>
<script th:src="@{/js/template.js}"></script>
</body>
</html>