<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>REREC Fleet | New Vehicle</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link th:href="@{/styles/newItem.css}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Add New Vehicle</h2>
        <p>Inserts new vehicle into the database.</p>
        <form action="#" th:action="@{/saveVehicle}" th:object="${vehicle}" method="POST">
            <div class="form__item">
                <label class="form__label">Vehicle Registration No.</label>
                <input type="text" th:field="*{numberPlate}" class="form__input" required/>
            </div>
            <div class="form__item">
                <label class="form__label">Make/Model</label>
                <select th:field="*{make}" class="form__input" required>
                    <th:block th:each="make : ${listOfMake}">
                        <option th:text="${make.name}" th:value="${make.id}"></option>
                    </th:block>
                </select>
            </div>
            <div class="form__item">
                <label class="form__label">Region</label>
                <input type="text" th:field="*{region}" class="form__input"/>
            </div>
            <div class="form__item">
                <label class="form__label">Engine Capacity</label>
                <input type="number" th:field="*{engineCapacity}" class="form__input"/>
            </div>

            <button type="submit" class="form__btn">Save</button>
        </form>
    </div>
</body>
</html>