<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>REREC Fleet | Quotation</title>
    <script th:src="@{/js/headContent.js}"></script>
</head>
<body>
<vertical-navbar></vertical-navbar>

<main>
    <div class="table">
        <div class="table_header">
            <p>Quotation Table</p>
            <div>
                <input placeholder="Search Quotation">
                <a th:href = "@{/newQuotation}" class="add_new">Add Quotation</a>
            </div>
        </div>

        <div class="table_section">
            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Number Plate</th>
                    <th>Doc No.</th>
                    <th>Contractor</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="quotation : ${listOfQuotations}">
                    <td th:text="${quotation.no}"></td>
                    <td th:text="${quotation.vehicle.numberPlate}"></td>
                    <td th:text="${quotation.documentNo}"></td>
                    <td th:text="${quotation.contractor.name}"></td>
                    <td th:text="${#dates.format(quotation.date, 'dd-MM-yyyy')}"></td>
                    <td>
                        <ul>
                            <li th:each="item : ${quotation.quotationItems}">
                                <span th:text="${item.checklist.item}"></span>
                            </li>
                        </ul>
                    </td>
                    <td th:text="${quotation.total}"></td>
                    <td>
                        <a th:href="@{/alterQuotationItems/{no}(no=${quotation.no})}" class="add">
                            <span class="material-symbols-outlined">add</span>
                        </a>
                        <a th:href="@{/updateQuotation/{no}(no=${quotation.no})}" class="edit">
                            <span class="material-symbols-outlined">edit</span>
                        </a>
                        <a th:href="@{/deleteQuotation/{no}(no=${quotation.no})}" class="delete">
                            <span class="material-symbols-outlined">delete</span>
                        </a>

                    </td>
                </tr>
                </tbody>
            </table>

            <div th:if = "${totalPages > 1}">
                <div class="pagination-container">
                    <div class="next-last">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/vehiclePage/' + ${totalPages}}">Previous</a>
                        <span th:unless="${currentPage < totalPages}">Previous</span>
                    </div>

                    <div>
                                <span th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item">
                                    <a th:if="${currentPage != i}" th:href="@{'/vehiclePage/' + ${i}}">[[${i}]]</a>
                                    <span th:unless="${currentPage != i}">[[${i}]]</span>
                                </span>
                    </div>

                    <div class="next-last">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/vehiclePage/' + ${currentPage + 1}}">Next</a>
                        <span th:unless="${currentPage < totalPages}">Next</span>
                    </div>
                </div>
                <div class="total-items">
                    Total Rows: [[${totalItems}]]
                </div>
            </div>
        </div>

    </div>
</main>

<script>
    addHeadContent();
    mainCss();
</script>
<script th:src="@{/js/template.js}"></script>
</body>
</html>