<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>REREC Fleet | Service</title>
    <script th:src="@{/js/headContent.js}"></script>
</head>
<body>
<vertical-navbar></vertical-navbar>

<main>
    <div class="table">
        <div class="table_header">
            <p>Maintenance Table</p>
            <div>
                <input placeholder="Search Repair">
                <a th:href = "@{/newServiceTracker}" class="add_new">Add Repair</a>
            </div>
        </div>

        <div class="table_section">
            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Number Plate</th>
                    <th>Service Type</th>
                    <th>Service Date</th>
                    <th>Service Mileage</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sv : ${listOfServiceTracker}">
                    <td th:text="${sv.vehicle.numberPlate}"></td>
                    <td th:text="${sv.serviceType.type}"></td>
                    <td th:text="${#dates.format(sv.lastServiceDate, 'dd-MM-yyyy')}"></td>
                    <td th:text="${sv.lastServiceMileage}"></td>
                    <td>
                        <a th:href="@{/updateTracker/{no}(no=${sv.no})}" class="edit">
                            <span class="material-symbols-outlined">edit</span>
                        </a>
                        <a th:href="@{/deleteTracker/{no}(no=${sv.no})}" class="delete">
                            <span class="material-symbols-outlined">delete</span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div th:if = "${totalPages > 1}">
                <div class="pagination-container">
                    <div class="next-last">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/vehiclePage/' + ${totalPages}}">Previous</a>
                        <span th:unless="${currentPage < totalPages}">Previous</span>
                    </div>

                    <div>
                            <span th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item">
                                <a th:if="${currentPage != i}" th:href="@{'/vehiclePage/' + ${i}}">[[${i}]]</a>
                                <span th:unless="${currentPage != i}">[[${i}]]</span>
                            </span>
                    </div>

                    <div class="next-last">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/vehiclePage/' + ${currentPage + 1}}">Next</a>
                        <span th:unless="${currentPage < totalPages}">Next</span>
                    </div>
                </div>
                <div class="total-items">
                    Total Vehicles: [[${totalItems}]]
                </div>
            </div>
        </div>

    </div>

</main>

<script>
    addHeadContent();
    mainCss();
</script>
<script th:src="@{/js/template.js}"></script>
</body>
</html>