<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>REREC Fleet | Contractor</title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon-16x16.png}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link th:href="@{/styles/newItem.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2>Update Contractor</h2>
    <p>Updates contractor record in the database</p>
    <form action="#" th:action="@{/saveContractor}" th:object="${contractor}" method="POST">
        <input type="hidden" th:field="*{id}"/>

        <div class="form__item">
            <label class="form__label">Contractor</label>
            <input type="text" th:field="*{name}" class="form__input"/>
        </div>

        <button type="submit" class="form__btn">Update Contractor</button>
    </form>
</div>
</body>
</html>