<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>REREC Fleet | Checklist</title>
</head>
<body>
<div class="container">
    <h2>Update Checklist</h2>
    <form action="#" th:action="@{/saveChecklistItem}" th:object="${checklist}" method="POST">
        <input type="hidden" th:field="*{id}"/>

        <!--<input type="text" th:field="*{numberPlate}" class="form-control mb-4 col-4"/>-->
        <input type="text" th:field="*{item}" class="form-control mb-4 col-4"/>

        <button type="submit" class="btn btn-info col-2">Update Checklist</button>
    </form>
</div>
</body>
</html>