<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>REREC Fleet | Checklist</title>
    <script th:src="@{/js/headContent.js}"></script>
</head>
<body>
<div class="container">
    <h2>Update Checklist</h2>
    <form action="#" th:action="@{/saveChecklistItem}" th:object="${checklist}" method="POST">
        <input type="hidden" th:field="*{id}"/>

        <div class="form__item">
            <label class="form__label">Checklist Item</label>
            <input type="text" th:field="*{item}" class="form__input"/>
        </div>

        <button type="submit" class="form__btn">Update Checklist</button>
    </form>
</div>

<script>
    addHeadContent();
    newItemCss();
</script>
</body>
</html>